@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Projects";
}
<body>
    <container>
        <center>
            <div class="mb-3">
                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample">
                    + Create New Project
                </button>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body bg-dark border-secondary">
                    <div class="input-group mb-3 col-md-8">
                        <input type="text" class="form-control" placeholder="New Project Name">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary text-white" type="button">Add Project</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="output">

            </div>

        </center>
    </container>
</body>
<script type="text/javascript">
    const uri = "Projects/api/ProjectItems";
    const userId = "@User.FindFirstValue(ClaimTypes.NameIdentifier)";

    //function getItems() {

    //    fetch(uri + `/${userId}`)
    //            .then(response => response.json())
    //            .then(data => displayItems(data))
    //            .catch(error => console.error('Unable to get items.', error));

    //}
    

</script>