
@{
    ViewData["Title"] = "Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Story</h1>

<body>
    <nav>
        @{

            foreach (var projectItem in Model.ProjectItems)
            {
                <ol class="breadcrumb bg-dark">
                    <li class="breadcrumb-item active">@(projectItem.ProjectCreationTime)</li>
                    <li class="breadcrumb-item">Project Started</li>
                </ol>

                foreach(var todoItem in Model.TodoItems)
                {
                    if(todoItem.ProjectID == projectItem.ProjectID)
                    {

                    }
                }

                if (projectItem.ProjectCompletionTime != null)
                {
                    <ol class="breadcrumb bg-dark">
                        <li class="breadcrumb-item active">@(projectItem.ProjectCompletionTime)</li>
                        <li class="breadcrumb-item">Project Completed</li>
                    </ol>
                }

            }

        }

    </nav>
   


</body>
