@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Tags";
}

<h1>Tags</h1>

<body>
    <center>
        <br />
        @{
            var counter = 0;
            await Html.PartialAsync("_ViewTags", counter)

        }


    </center>
</body>
