@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Tags";
}

<h1>Tags</h1>

<body>
    <center>

        <div class="container">
            <table>
                <thead>Hello</thead>
            </table>
            <h2><span class="badge badge-primary">Primary</span></h2>
            <h2><span class="badge badge-primary">Primary</span></h2>
            <h2><span class="badge badge-primary">Primary</span></h2>
            <h2><span class="badge badge-primary">Primary</span></h2>
            <h2><span class="badge badge-primary">Primary</span></h2>
            <h2><span class="badge badge-primary">Primary</span></h2>
        </div>

    </center>
</body>
