@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <title>To Do</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    @*<link rel="stylesheet" href="css/site.css" />*@
    <style>

        body {
            background-color: #1b1e21;
            font-family: Helvetica;
        }
    </style>
</head>
<body class="text-light">
    <div class="container">
        <div class="pt-3">
            <center>
                <button class="btn mr-2" type="button" id="btnFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg id="i-filter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M2 5 C2 5 6 3 16 3 26 3 30 5 30 5 L19 18 19 27 13 30 13 18 2 5Z" />
                    </svg>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" id="filterNotStarted" onclick="getItems('Not Started', 'filterNotStarted')">Not Started</a>
                    <a class="dropdown-item" href="#" id="filterInProgress" onclick="getItems('In-Progress', 'filterInProgress')">In-Progress</a>
                    <a class="dropdown-item" href="#" id="filterCompleted" onclick="getItems('Completed', 'filterCompleted')">Completed</a>
                </div>
                <button class="btn btn-success" data-toggle="collapse"
                        href="#multiCollapseCreateNewTask" role="button"
                        aria-expanded="false" aria-controls="multiCollapseCreateNewTask">
                    + Create New Task
                </button>
            </center>
        </div>

        <div>
            <br />
            <center>

                <!-- Inside Collapsable | Create New Task Collapsable -->
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseCreateNewTask">
                            <div class="card card-body bg-dark">
                                <form action="javascript:void(0);" method="POST" onsubmit="addItem()" class="input-group mb-3">
                                    <input autocomplete="off" maxlength="25" type="text" class="form-control" placeholder="New Task Name" id="add-name">
                                    <div class="input-group-append">
                                        <button type="submit" value="Add" class="btn btn-outline-secondary text-white">Add Task</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br />


                <div id="loadingAnimationArea" class="d-none">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <!--Tasks Output-->
                <div id="output">

                </div>

            </center>
        </div>

    </div>
</body>


